/*
 *  Style rules for code  table.
 */

 @charset "utf-8";

 .question_table
 {
     width: 100%;
 }
 
 .question_table th, .question_table td
 {
     text-align: center;
 }
 
 .question_table_column_id
 {
     width: 70px;
 }
 
 .question_table_column_title
 {
     text-align: left !important;
 }
 
 .question_table_column_uploadTime
 {
     width: 120px;
 }
 
 .question_table_column_language
 {
     width: 90px;
 }
 
 